.pic-wrapper {
  background-color: #acacac;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-top: 125%;
  width: 100%;
}
.item-wrapper {
  display: flex;
  flex-direction: column;
}
